@import 'basicColor';
.hero {
  position: relative;
  height: 100vh;
}
.hero::after {
  content: '';
  position: absolute;
  background: url('../images/illustration.svg') center right no-repeat;
  object-fit: cover;
  opacity: 0.45;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media screen and (min-width: 1200px) {
  .hero::after {
    opacity: 1;
  }
}
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(0deg, #98c3e8 8.84%, rgba(152, 195, 232, 0) 31.12%);
  opacity: 0.2;
}
.hero__container {
  height: 100%;
  position: relative;
  z-index: 5;
  padding: 0 1rem;
}
@media screen and (min-width: 1200px) {
  .hero__container {
    padding: 0;
  }
}
.hero__wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.hero__title {
  font-size: 4rem;
  line-height: 115%;
  letter-spacing: 0.04em;
  max-width: 510px;
  padding-bottom: 2rem;
  color: $firstColor;
  font-family: $fontThird;
}
@media screen and (min-width: 1200px) {
  .hero__container {
    padding: 0;
  }
}
.hero__main {
  font-size: 1rem;
  line-height: 162%;
  letter-spacing: 0.05em;
  max-width: 425px;
  padding-bottom: 71px;
  color: $firstColor;
  font-family: $fontFirst;
  opacity: 0.6;
}
.hero__button {
  width: 220px;
  padding: 15px;
  color: $thirdColor;
  background-color: $secondColor;
  border-radius: 10px;
  box-shadow: 5px 10px 20px $fifthColor;
}
