@import 'basicColor';
//@import 'basicStyle.css';
.our-clients {
  background-color: $secondColor;
  border-radius: 200px 0 0 0;
  padding-left: 1rem;
  padding-right: 1rem;
}
.our-client__clients__headline {
  display: flex;
  padding: 96px 0 111px;
  justify-content: space-between;
  max-width: 860px;
}
.our-client__title {
  max-width: 225px;
  margin-right: 100px;
  font-size: 2.25rem;
  color: $thirdColor;
  font-family: $fontFirst;
}
.our-client__description {
  max-width: 540px;
  font-size: 1rem;
  line-height: 1.6;
  color: $thirdColor;
  font-family: $fontFirst;
  opacity: 0.6;
}
.our-clients__list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 125px;
}
.our-clients__item {
  width: 50%;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid $thirdColor;
  font-family: $fontFirst;
}
@media screen and (max-width: 580px) {
  .our-clients__item:nth-child(2n + 1) {
    border-left: none;
  }
  .our-clients__item:nth-child(n + 3) {
    border-top: 1px solid $thirdColor;
  }
}
@media screen and (min-width: 581px) and (max-width: 759px) {
  .our-clients__item {
    border-left: 1px solid $thirdColor;
    width: 33%;
  }
  .our-clients__item:nth-child(3n + 1) {
    border-left: none;
  }
  .our-clients__item:nth-child(n + 4) {
    border-top: 1px solid $thirdColor;
  }
}
@media screen and (min-width: 760px) {
  .our-clients__item {
    width: 25%;
  }
  .our-clients__item:nth-child(n + 5) {
    border-top: 1px solid $thirdColor;
  }
  .our-clients__item:nth-child(4n + 1) {
    border-left: none;
  }
}

.our-clients__item-link {
  text-decoration: none;
  color: $thirdColor;
}
.our-clients__item-button {
  width: 100%;
  height: 100%;
  background-color: $firstColor;
  color: $thirdColor;
  font-size: 1.25rem;
}
